.sidebar {
  flex: 2;
  padding: 0;
}

.sidebarListItem {
  display: flex;
  align-items: center;
}
.friendListItem {
  display: flex;
  align-items: center;
}

.friendListItemIcon {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebarListItem {
  box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
  border-radius: 3px;
  height: 36px;
}
